*{
   
    
    font-family: "Archivo Black", sans-serif;
    font-size: 30px; 
  }

body{
    background-color: rgb(233, 47, 214);
}

.Logo h1{
    font-size: 60px;
    color: rgb(204, 229, 14);
    -webkit-text-stroke: 3px;
    -webkit-text-stroke-color: rgb(79, 32, 218);
}
.Logo{
    background-color: rgb(188, 42, 26);
}

#Searcher
{
    margin-right: 10px;
    background-color: #f3f3f3;
    height: 31px;
    padding: 3px 7px;
    line-height: normal;
    border: 1px solid #3aa60f;
    border-top-color: #949494;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgb(255 255 255 / 50%), 0 1px 0 rgb(0 0 0 / 7%) inset;
    outline: 0;
    color: #9eaa2f;
    font-size: 13px;
    :focus{
        border-color: #4a1db5;
        box-shadow: 0 0 3px 2px rgb(228 121 17 / 50%);
    }
}

